<li><%= link_to_if(can?(:read, "/"), "Home", root_path) %></li>
<% if can?(:read, Job) %><li><%= link_to("Jobs", jobs_path) %></li><% end %>
<% if can?(:read, Worker) %><li><%= link_to("Workers", workers_path) %></li><% end %>
<% if can?(:read, Request) %><li><%= link_to("Requests", requests_path) %></li><% end %>
<% if can?(:read, User) %><li><%= link_to("Users", users_path) %></li><% end %>

