<!DOCTYPE html>
<html>
<head>
  <title>Rpcserver</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
    <ul class="hmenu">
      <%= render 'layouts/menu' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
