<h1>Listing workers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Capabilities</th>
    <th>Platform</th>
    <th>Metal</th>
    <th>Last seen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workers.each do |worker| %>
  <tr>
    <td><%= worker.name %></td>
    <td><%= worker.state %></td>
    <td><%= worker.capabilities %></td>
    <td><%= worker.platform %></td>
    <td><%= worker.metal.name if worker.metal %></td>
    <td><%= worker.last_seen_at %></td>
    <td><%= link_to 'Show', worker %></td>
    <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
    <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
