<p>
  <b>Name:</b>
  <%= @worker.name %>
</p>

<p>
  <b>UUID:</b>
  <%= @worker.uuid %>
</p>

<p>
  <b>Metal:</b>
  <%= @worker.metal.name if @worker.metal %>
</p>

<p>
  <b>Vmimage:</b>
  <%= @worker.vmimage %>
</p>

<p>
  <b>Vmname:</b>
  <%= @worker.vmname %>
</p>

<p>
  <b>Snapshottag:</b>
  <%= @worker.snapshottag %>
</p>


<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
