<h1>Listing requests</h1>

<table>
  <tr>
    <th>Repo</th>
    <th>Commit</th>
    <th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% odd = false
  @requests.each do |request| 
  odd = !odd
  if odd
    oddeven='odd'
  else
    oddeven = 'even'
  end
  %>
  <tr class="<%= oddeven %>">
    <td><%= request.repo %></td>
    <td><%= request.commit %></td>
    <td><%= request.created_at %></td>
    <% if can?(:read, request) %><td><%= link_to 'Show', request %></td><% end %>
    <% if can?(:destroy, request) %><td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
  </tr>
<% end %>
</table>
