<h1>Listing requests</h1>

<table>
  <tr>
    <th>Id</th>
    <th>State</th>
    <th>Repo</th>
    <th>Commit</th>
    <th>Created</th>
  </tr>

<% odd = false
  @requests.each do |request| 
  odd = !odd
  if odd
    oddeven='odd'
  else
    oddeven = 'even'
  end
  %>
  <tr class="<%= oddeven %>">
    <% if can?(:read, request) %><td><%= link_to request.id, request %></td><% end %>
    <td><%= request.state %></td>
    <td><%= request.repo %></td>
    <td><%= request.commit %></td>
    <td><%= request.created_at %></td>
  </tr>
<% end %>
</table>
