<p id="notice"><%= notice %></p>
<%= link_to 'Back', requests_path %>
<%= link_to_if( can?(:destroy, @request),
      'Destroy', @request, method: :delete, data: { confirm: 'Are you sure?' }  ) { } %>

<h1>Request <%= @request.id %> details</h1>

<% @request.attributes.each{| attribute | %>
  <h2><%= attribute[0].camelcase %></h2>
  <p>
  <% if attribute[0]=='buildconfig' %><pre><% end %>
  <%= attribute[1] %>
  <% if attribute[0]=='buildconfig' %></pre><% end %>
  </p>
<% } %>

