<h1>Listing metals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Platform</th>
    <th>Last seen at</th>
    <th></th>
  </tr>

<% @metals.each do |metal| %>
  <tr>
    <td><%= link_to metal.name, metal %></td>
    <td><%= metal.state %></td>
    <td><%= metal.platform %></td>
    <td><%= metal.last_seen_at %></td>
    <td><%= link_to 'Destroy', metal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
