<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metal.name %>
</p>

<p>
  <b>Uuid:</b>
  <%= @metal.uuid %>
</p>

<p>
  <b>Last seen at:</b>
  <%= @metal.last_seen_at %>
</p>

<p>
  <b>State:</b>
  <%= @metal.state %>
</p>


<%= link_to 'Back', metals_path %>
