<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repo %><br />
    <%= f.text_field :repo %>
  </div>
  <div class="field">
    <%= f.label :commit %><br />
    <%= f.text_field :commit %>
  </div>
  <div class="field">
    <%= f.label :started %><br />
    <%= f.datetime_select :started %>
  </div>
  <div class="field">
    <%= f.label :finished %><br />
    <%= f.datetime_select :finished %>
  </div>
  <div class="field">
    <%= f.label :running %><br />
    <%= f.check_box :running %>
  </div>
  <div class="field">
    <%= f.label :success %><br />
    <%= f.check_box :success %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
