<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Worker</th>
    <th>State</th>
    <th>Request</th>
    <th>Language</th>
    <th>Created</th>
    <th>Started</th>
    <th>Finished</th>
    <th>Worker</th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= job.state %></td>
    <td><%= job.request.id %></td>
    <td><%= job.language %></td>
    <td><%= job.created_at %></td>
    <td><%= job.started_at %></td>
    <td><%= job.finished_at %></td>
    <td><%= job.worker %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
